#navigation-container{
    width: 4%;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
}

#navigation-container:hover{
    width: 15%;
}

/* initially hide nav-item names */
.nav-item-name{
    display: none;
    /* Adding opacity transition */
    transition: opacity 0.5s ease-in-out;
}

#navigation-container:hover .nav-item-name{
    display: block;
    opacity: 1;
}